/*============================FONT DE LA PAGINA======================================= */       
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*============================MODAL======================================= */

.modal-content {
    border: 2px solid #1C3C2A;
}

.modal-footer .btn-primary {
    background-color: #1C3C2A;
    border-color: #131315;
}


.modal-footer .btn-primary:active {
    background-color: #59C788;
    border-color: #131315;
}


/*---------------------------------------NAVBAR ---------------------------------------*/

.navbar-1 {
    background-color: #1F1F1F;
}

.navbar-2 a, .registro a {
    color: #D9D9D9;
}

.navbar-2 {
    background-color: #1F1F1F;
    font-weight: 450;
    font-size: 1.1rem;
}

.navbar-brand {
    font-size: 1.7rem;
}

.navbar-2 .btn {
    background-color: #1C3C2A;
    border: 1px solid #D9D9D9;
    color: #D9D9D9;
} 

.navbar-2 a:hover, .navbar-2 a:focus {
    color: #59C788;
}


.navbar-2 .btn:hover {
    background-color: #3F604D;
    border: 1px solid #D9D9D9;
} 

 .navbar-2 .btn:active {
    background-color: #59C788 !important;
    border: 1px solid #D9D9D9 !important;
 } 

 .nav .nav-link:hover, .nav .nav-link:focus {
    color: #59C788;
 }

 .registro {
    font-size: 1rem;
    margin-right: 0 !important;
 }

 
/*---------------------------------------MAIN ---------------------------------------*/
body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
main {
    background-color: #131315;
    min-height: 80vh;
}
.seleccionada img {
     outline-offset: -4px;
    border-radius: 8px;
    outline: 4px transparent solid;
    transition: all 300ms ease-out;
}

.seleccionada img:hover {
    transform: scale(1.1);
    outline-offset: -4px;
    outline: 4px solid whitesmoke;
    }

    .item-categoria{
        background-color: #D9D9D9;
        color: #131315;
    }

    .item-categoria:hover{
        background-color: #3F604D;
        color: #D9D9D9 !important;
    }

    .item-categoria:active{
        background-color: #59C788;
    }

    .li-activo .page-link{
        background-color: #3F604D !important;
        border-color: #D9D9D9;
    }

/*---------------------------------------FOOTER ---------------------------------------*/

footer{
    height: 180px;
    background-color: #1F1F1F;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25%);
}

.class-redes img{
    max-width: 35px;
    width: 10%;
    height: 100%;
    object-fit: cover;
}

.class-acerca a{
    color: #D9D9D9;
    list-style: none;
    text-decoration: none;
}

.class-acerca{
    margin-top: 10px;
}

.class-contactanos a{
    color: #D9D9D9;
    list-style: none;
    text-decoration: none;
}

.class-contactanos{
    margin-top: 10px;
}

.class-logo img{
     width: 20%;
     height: 100%;
     object-fit: cover;
 }

.class-logo{
    margin-top: 5px;
}

.class-redes{
    margin: 5px 0;
}

@media screen and (min-width:600px){
    footer{
        height: 100px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .class-logo img{
        width: 30%;
        height: 100%;
        object-fit: cover;
    }

    .class-redes img{
        width: 30%;
        height: 100%;
        object-fit: cover;
    }

    .class-contactanos{
        margin-top: 0px;
    }

    .class-acerca{
        margin-top: 0px;
    }
}

